.week-content {
        .week-container {
                width                : 100%;
                display              : grid;
                grid-template-columns: repeat(4, 25%);

                .active {
                        background: aqua;
                }

                a {
                        text-decoration: none;
                }
        }
}